@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    margin: 0;
    padding: 0;
}


/* TOP*/
.top {
    display: flex;
    max-width: 1915px;
    height: 491px;
    justify-content: center;
    background: #FFFFFF;
    gap: 60px;
}

.icon_svg {
    padding: 23px;
    width: 25px;
    height: 25px;
}

.feature_title1,
.feature_title2,
.feature_title3 {
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;
}

.feature_text1,
.feature_text2,
.feature_text3 {
    margin-top: 17px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 22.5px;
    text-align: left;
    color: #666666;

}

.feature1,
.feature2,
.feature3 {
    margin-top: 140px;
    width: 310px;
    height: 226px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
}


/* TOP HOVERS*/

.feature1:hover,
.feature2:hover,
.feature3:hover {
    margin-top: 100px;
    width: 370px;
    height: 291px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 15px 25px 56px 6px #0000000F;
    transition: 0.5s;

    .feature_icon1,
    .feature_icon2,
    .feature_icon3 {
        margin-left: 30px;
        margin-top: 40px;
        transition: 0.5s;
    }

    .feature_title1,
    .feature_text1,
    .feature_button1,
    .feature_title2,
    .feature_text2,
    .feature_button2,
    .feature_title3,
    .feature_text3,
    .feature_button3 {
        margin-left: 30px;
        transition: 0.5s;
    }

}


.feature_icon1 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: #F2582240;
    ;

}

.feature_icon2 {
    width: 70px;
    height: 70px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background: #14921147;


}


.feature_icon3 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: #FFCD1D3D;

}

.feature_button1,
.feature_button2,
.feature_button3,
a {
    margin-top: 25px;
    background-color: #FFFFFF;
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 16.5px;
    text-align: left;
    color: #000000;
}

/* BOTTOM*/

.bottom {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    max-width: 1920px;
}

.section_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_section_title {
    margin-top: 92px;
    font-family: Gilroy-Bold;
    font-size: 45px;
    line-height: 52.73px;
    text-align: left;
}

.service_section_text {
    margin-top: 19px;
    width: 682px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;

}

.services {
    margin: 55px 375px 100px 375px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1920px;
}



.service1,
.service2,
.service3 {
    width: 370px;
    height: 549px;
    background-color: #FFFFFF;
    border: 1.5px solid #FFFFFF
}

/* SERVICE HOVER*/

.service1:hover,
.service2:hover,
.service3:hover {
    box-shadow: 15px 25px 60px -5px #0000001A;
    transition: 0.5s;
}

.service_illustration {
    width: 370px;
    height: 270px;

}

.service_title {
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;
    color: #000000;
    text-align: center;

}

.service_text {
    margin: 22px 30px 29px 30px;
    width: 310px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 22.5px;
    text-align: center;
    color: #AAAAAA;
}

.service_button {
    margin: 0px 120px 50px 100px;

}

button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background: #F25822;
    color: #FFFFFF;
    font-family: Gilroy-Bold;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
}

button:hover {
    box-shadow: 4px 4px 8px 0px #F2582233;
    transition: 0.3s;
}