@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    background-color: #fbe8ce
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}


.links {
    font-family: "Roboto", sans-serif;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

img {
    width: 350px;
    height: 500px;
    border-radius: 30px;
}

div {
    text-align: center;

}

.product {
    font-family: "Roboto", sans-serif;
    background-origin: padding-box;
    width: 370px;
    height: 700px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}